name: CMIP6 sync
on:
  # runs 4x daily at 0,6,12,18:00 UTC 
  schedule:
    - cron: "0 */6 * * *"
jobs:
  # CMIP6/CMIP/NCAR only
  CMIP6__CMIP__NCAR:
    runs-on: ubuntu-latest
    steps:
      - name: GCS to S3 sync
        uses: wei/rclone@v1.1.1
        env:
          RCLONE_CONF: ${{ secrets.RCLONE_CONF }}
          RCLONE_GCS_SERVICE_ACCOUNT_CREDENTIALS: ${{ secrets.RCLONE_GCS_SERVICE_ACCOUNT_CREDENTIALS }}
        with:
          args: "sync -c -v  gs:cmip6 s3:cmip6-pds --include /CMIP6/CMIP/NCAR/** --transfers 15 --checkers 65"
  # CMIP6/CMIP/CNRM-CERFACS, CMIP6/CMIP/MOHC only
  CMIP6__CMIP__CNRM-CERFACS_MOHC:
    runs-on: ubuntu-latest
    steps:
      - name: GCS to S3 sync
        uses: wei/rclone@v1.1.1
        env:
          RCLONE_CONF: ${{ secrets.RCLONE_CONF }}
          RCLONE_GCS_SERVICE_ACCOUNT_CREDENTIALS: ${{ secrets.RCLONE_GCS_SERVICE_ACCOUNT_CREDENTIALS }}
        with:
          args: "sync -c -v gs:cmip6 s3:cmip6-pds --include /CMIP6/CMIP/{CNRM-CERFACS,MOHC}/** --transfers 15 --checkers 65"
  # CMIP6/CMIP/IPSL only
  CMIP6__CMIP__IPSL:
    runs-on: ubuntu-latest
    steps:
      - name: GCS to S3 sync
        uses: wei/rclone@v1.1.1
        env:
          RCLONE_CONF: ${{ secrets.RCLONE_CONF }}
          RCLONE_GCS_SERVICE_ACCOUNT_CREDENTIALS: ${{ secrets.RCLONE_GCS_SERVICE_ACCOUNT_CREDENTIALS }}
        with:
          args: "sync -c -v gs:cmip6 s3:cmip6-pds --include /CMIP6/CMIP/IPSL/** --transfers 15 --checkers 65"
  # CMIP6/CMIP/CCCma only
  CMIP6__CMIP__CCCma:
    runs-on: ubuntu-latest
    steps:
      - name: GCS to S3 sync
        uses: wei/rclone@v1.1.1
        env:
          RCLONE_CONF: ${{ secrets.RCLONE_CONF }}
          RCLONE_GCS_SERVICE_ACCOUNT_CREDENTIALS: ${{ secrets.RCLONE_GCS_SERVICE_ACCOUNT_CREDENTIALS }}
        with:
          args: "sync -c -v gs:cmip6 s3:cmip6-pds --include /CMIP6/CMIP/CCCma/** --transfers 15 --checkers 65"
  # CMIP6/CMIP/MPI-M, CMIP6/CMIP/NCC only
  CMIP6__CMIP__MPI-M_NCC:
    runs-on: ubuntu-latest
    steps:
      - name: GCS to S3 sync
        uses: wei/rclone@v1.1.1
        env:
          RCLONE_CONF: ${{ secrets.RCLONE_CONF }}
          RCLONE_GCS_SERVICE_ACCOUNT_CREDENTIALS: ${{ secrets.RCLONE_GCS_SERVICE_ACCOUNT_CREDENTIALS }}
        with:
          args: "sync -c -v gs:cmip6 s3:cmip6-pds --include /CMIP6/CMIP/{MPI-M,NCC}/** --transfers 15 --checkers 65"
  # CMIP6/CMIP/EC-Earth-Consortium, CMIP6/CMIP/NASA-GISS only
  CMIP6__CMIP__EC-Earth-Consortium_NASA-GISS:
    runs-on: ubuntu-latest
    steps:
      - name: GCS to S3 sync
        uses: wei/rclone@v1.1.1
        env:
          RCLONE_CONF: ${{ secrets.RCLONE_CONF }}
          RCLONE_GCS_SERVICE_ACCOUNT_CREDENTIALS: ${{ secrets.RCLONE_GCS_SERVICE_ACCOUNT_CREDENTIALS }}
        with:
          args: "sync -c -v gs:cmip6 s3:cmip6-pds --include /CMIP6/CMIP/{EC-Earth-Consortium,NASA-GISS}/** --transfers 15 --checkers 65"
  # CMIP6/CMIP/NOAA-GFDL
  CMIP6__CMIP__NOAA-GFDL:
    runs-on: ubuntu-latest
    steps:
      - name: GCS to S3 sync
        uses: wei/rclone@v1.1.1
        env:
          RCLONE_CONF: ${{ secrets.RCLONE_CONF }}
          RCLONE_GCS_SERVICE_ACCOUNT_CREDENTIALS: ${{ secrets.RCLONE_GCS_SERVICE_ACCOUNT_CREDENTIALS }}
        with:
          args: "sync -c -v gs:cmip6 s3:cmip6-pds --include /CMIP6/CMIP/NOAA-GFDL/** --transfers 15 --checkers 65"			  
  # CMIP6/CMIP/BCC, CMIP6/CMIP/AWI, CMIP6/CMIP/CSIRO, CMIP6/CMIP/SNU, CMIP6/CMIP/CSIRO-ARCCSS
  CMIP6__CMIP__BCC_AWI_CSIRO_SNU_CSIRO-ARCCSS:
    runs-on: ubuntu-latest
    steps:
      - name: GCS to S3 sync
        uses: wei/rclone@v1.1.1
        env:
          RCLONE_CONF: ${{ secrets.RCLONE_CONF }}
          RCLONE_GCS_SERVICE_ACCOUNT_CREDENTIALS: ${{ secrets.RCLONE_GCS_SERVICE_ACCOUNT_CREDENTIALS }}
        with:
          args: "sync -c -v gs:cmip6 s3:cmip6-pds --include /CMIP6/CMIP/{BCC,AWI,CSIRO,SNU,CSIRO-ARCCSS}/** --transfers 15 --checkers 65"			  
  # CMIP6/CMIP remaining directories
  CMIP6__CMIP__remainder:
    runs-on: ubuntu-latest
    steps:
      - name: GCS to S3 sync
        uses: wei/rclone@v1.1.1
        env:
          RCLONE_CONF: ${{ secrets.RCLONE_CONF }}
          RCLONE_GCS_SERVICE_ACCOUNT_CREDENTIALS: ${{ secrets.RCLONE_GCS_SERVICE_ACCOUNT_CREDENTIALS }}
        with:
          args: "sync -c -v gs:cmip6 s3:cmip6-pds --filter '- /CMIP6/CMIP/{NCAR,CNRM-CERFACS,IPSL,CCCma,MOHC,MPI-M,NCC,EC-Earth-Consortium,NASA-GISS,NOAA-GFDL,BCC,AWI,CSIRO,SNU,CSIRO-ARCCSS}/**' --filter '+ /CMIP6/CMIP/**' --filter '- *' --transfers 15 --checkers 65"
  # CMIP6/ScenarioMIP/CCCma only
  CMIP6__ScenarioMIP__CCCma:
    runs-on: ubuntu-latest
    steps:
      - name: GCS to S3 sync
        uses: wei/rclone@v1.1.1
        env:
          RCLONE_CONF: ${{ secrets.RCLONE_CONF }}
          RCLONE_GCS_SERVICE_ACCOUNT_CREDENTIALS: ${{ secrets.RCLONE_GCS_SERVICE_ACCOUNT_CREDENTIALS }}
        with:
          args: "sync -c -v gs:cmip6 s3:cmip6-pds --include /CMIP6/ScenarioMIP/CCCma/** --transfers 15 --checkers 65"	
  # CMIP6/ScenarioMIP/CNRM-CERFACS, CMIP6/ScenarioMIP/IPSL only
  CMIP6__ScenarioMIP__CNRM-CERFACS_IPSL:
    runs-on: ubuntu-latest
    steps:
      - name: GCS to S3 sync
        uses: wei/rclone@v1.1.1
        env:
          RCLONE_CONF: ${{ secrets.RCLONE_CONF }}
          RCLONE_GCS_SERVICE_ACCOUNT_CREDENTIALS: ${{ secrets.RCLONE_GCS_SERVICE_ACCOUNT_CREDENTIALS }}
        with: 
          args: "sync -c -v gs:cmip6 s3:cmip6-pds --include /CMIP6/ScenarioMIP/{CNRM-CERFACS,IPSL}/** --transfers 15 --checkers 65"			  
  # CMIP6/ScenarioMIP/NOAA-GFDL
  CMIP6__ScenarioMIP__NOAA-GFDL:
    runs-on: ubuntu-latest
    steps:
      - name: GCS to S3 sync
        uses: wei/rclone@v1.1.1
        env:
          RCLONE_CONF: ${{ secrets.RCLONE_CONF }}
          RCLONE_GCS_SERVICE_ACCOUNT_CREDENTIALS: ${{ secrets.RCLONE_GCS_SERVICE_ACCOUNT_CREDENTIALS }}
        with:
          args: "sync -c -v gs:cmip6 s3:cmip6-pds --include /CMIP6/ScenarioMIP/NOAA-GFDL/** --transfers 15 --checkers 65"# CMIP6/ScenarioMIP/EC-Earth-Consortium, CMIP6/ScenarioMIP/MIROC, CMIP6/ScenarioMIP/NCAR only
  # CMIP6/ScenarioMIP/EC-Earth-Consortium_MIROC
  CMIP6__ScenarioMIP__EC-Earth-Consortium_MIROC:
    runs-on: ubuntu-latest
    steps:
      - name: GCS to S3 sync
        uses: wei/rclone@v1.1.1
        env:
          RCLONE_CONF: ${{ secrets.RCLONE_CONF }}
          RCLONE_GCS_SERVICE_ACCOUNT_CREDENTIALS: ${{ secrets.RCLONE_GCS_SERVICE_ACCOUNT_CREDENTIALS }}
        with: 
          args: "sync -c -v gs:cmip6 s3:cmip6-pds --include /CMIP6/ScenarioMIP/{EC-Earth-Consortium,MIROC}/** --transfers 15 --checkers 65"
  # CMIP6/ScenarioMIP/NCAR
  CMIP6__ScenarioMIP__NCAR:
    runs-on: ubuntu-latest
    steps:
      - name: GCS to S3 sync
        uses: wei/rclone@v1.1.1
        env:
          RCLONE_CONF: ${{ secrets.RCLONE_CONF }}
          RCLONE_GCS_SERVICE_ACCOUNT_CREDENTIALS: ${{ secrets.RCLONE_GCS_SERVICE_ACCOUNT_CREDENTIALS }}
        with: 
          args: "sync -c -v gs:cmip6 s3:cmip6-pds --include /CMIP6/ScenarioMIP/NCAR/** --transfers 15 --checkers 65"
  # CMIP6/ScenarioMIP/MPI-M, CMIP6/ScenarioMIP/OHC, CMIP6/ScenarioMIP/MRI, CMIP6/ScenarioMIP/DKRZ
  CMIP6__ScenarioMIP__MPI-M_OHC_MRI_DKRZ:
    runs-on: ubuntu-latest
    steps:
      - name: GCS to S3 sync
        uses: wei/rclone@v1.1.1
        env:
          RCLONE_CONF: ${{ secrets.RCLONE_CONF }}
          RCLONE_GCS_SERVICE_ACCOUNT_CREDENTIALS: ${{ secrets.RCLONE_GCS_SERVICE_ACCOUNT_CREDENTIALS }}
        with:
          args: "sync -c -v gs:cmip6 s3:cmip6-pds --include /CMIP6/ScenarioMIP/{MPI-M,OHC,MRI,DKRZ}/** --transfers 15 --checkers 65"
  # CMIP6/ScenarioMIP remaining directories
  CMIP6__ScenarioMIP__remainder:
    runs-on: ubuntu-latest
    steps:
      - name: GCS to S3 sync
        uses: wei/rclone@v1.1.1
        env:
          RCLONE_CONF: ${{ secrets.RCLONE_CONF }}
          RCLONE_GCS_SERVICE_ACCOUNT_CREDENTIALS: ${{ secrets.RCLONE_GCS_SERVICE_ACCOUNT_CREDENTIALS }}
        with:
          args: "sync -c -v gs:cmip6 s3:cmip6-pds --filter '- /CMIP6/ScenarioMIP/{CCCma,CNRM-CERFACS,NOAA-GFDL,IPSL,EC-Earth-Consortium,MIROC,NCAR,MPI-M,OHC,MRI,DKRZ}/**' --filter '+ /CMIP6/ScenarioMIP/**' --filter '- *' --transfers 15 --checkers 65"
  # CMIP6 remaining directories
  CMIP6__remainder:
    runs-on: ubuntu-latest
    steps:
      - name: GCS to S3 sync
        uses: wei/rclone@v1.1.1
        env:
          RCLONE_CONF: ${{ secrets.RCLONE_CONF }}
          RCLONE_GCS_SERVICE_ACCOUNT_CREDENTIALS: ${{ secrets.RCLONE_GCS_SERVICE_ACCOUNT_CREDENTIALS }}
        with:
          args: "sync -c -v gs:cmip6 s3:cmip6-pds --filter '- /CMIP6/{CMIP,ScenarioMIP,old_catalogs}/**' --filter '+ /CMIP6/**' --filter '- *' --transfers 15 --checkers 65"
  # DCPP/NCAR only
  #DCPP__NCAR:
  #  runs-on: ubuntu-latest
  #  steps:
  #    - name: GCS to S3 sync
  #      uses: wei/rclone@v1.1.1
  #      env:
  #        RCLONE_CONF: ${{ secrets.RCLONE_CONF }}
  #        RCLONE_GCS_SERVICE_ACCOUNT_CREDENTIALS: ${{ secrets.RCLONE_GCS_SERVICE_ACCOUNT_CREDENTIALS }}
  #      with:
  #        args: "sync -c -v gs:cmip6 s3:cmip6-pds --include /DCPP/NCAR/** --transfers 15 --checkers 65"
  # DCPP/CCCma only
  #DCPP__CCCma:
  #  runs-on: ubuntu-latest
  #  steps:
  #    - name: GCS to S3 sync
  #      uses: wei/rclone@v1.1.1
  #      env:
  #        RCLONE_CONF: ${{ secrets.RCLONE_CONF }}
  #        RCLONE_GCS_SERVICE_ACCOUNT_CREDENTIALS: ${{ secrets.RCLONE_GCS_SERVICE_ACCOUNT_CREDENTIALS }}
  #      with:
  #        args: "sync -c -v gs:cmip6 s3:cmip6-pds --include /DCPP/CCCma/** --transfers 15 --checkers 65"
  # DCPP remaining directories
  #DCPP__remainder:
  #  runs-on: ubuntu-latest
  #  steps:
  #    - name: GCS to S3 sync
  #      uses: wei/rclone@v1.1.1
  #      env:
  #        RCLONE_CONF: ${{ secrets.RCLONE_CONF }}
  #        RCLONE_GCS_SERVICE_ACCOUNT_CREDENTIALS: ${{ secrets.RCLONE_GCS_SERVICE_ACCOUNT_CREDENTIALS }}
  #      with:
  #        args: "sync -c -v gs:cmip6 s3:cmip6-pds --filter '- /DCPP/{NCAR,CCCma}/**' --filter '+ /DCPP/**' --filter '- *' --transfers 15 --checkers 65"
  # GFDL_CM2_6, CMIP5
  GFDL-CM26_CMIP5:
    runs-on: ubuntu-latest
    steps:
      - name: GCS to S3 sync
        uses: wei/rclone@v1.1.1
        env:
          RCLONE_CONF: ${{ secrets.RCLONE_CONF }}
          RCLONE_GCS_SERVICE_ACCOUNT_CREDENTIALS: ${{ secrets.RCLONE_GCS_SERVICE_ACCOUNT_CREDENTIALS }}
        with:
          args: "sync -c -v gs:cmip6 s3:cmip6-pds --include /{GFDL_CM2_6,CMIP5}/** --transfers 15 --checkers 65"
  # remaining directories
  remainder:
    runs-on: ubuntu-latest
    steps:
      - name: GCS to S3 sync
        uses: wei/rclone@v1.1.1
        env:
          RCLONE_CONF: ${{ secrets.RCLONE_CONF }}
          RCLONE_GCS_SERVICE_ACCOUNT_CREDENTIALS: ${{ secrets.RCLONE_GCS_SERVICE_ACCOUNT_CREDENTIALS }}
        with:
          args: "sync -c -v gs:cmip6 s3:cmip6-pds  --exclude /{CMIP6,DCPP,GFDL_CM2_6,CMIP5}/** --exclude /*.{csv,csv.gz,html,json,jsonl} --transfers 15 --checkers 65"
  # change GCS links in catalogs to S3 before uploading
  #catalog:
  #  runs-on: ubuntu-latest
  #  steps:
  #    - name: Download catalogs from GCS
  #      uses: wei/rclone@v1.1.1
  #      env:
  #        RCLONE_CONF: ${{ secrets.RCLONE_CONF }}
  #        RCLONE_GCS_SERVICE_ACCOUNT_CREDENTIALS: ${{ secrets.RCLONE_GCS_SERVICE_ACCOUNT_CREDENTIALS }}
  #      with:
  #        args: "copy -v gs:cmip6 fs: --include /*.{csv,json}"
  #    - name: Change catalog links from GCS to S3
  #      run: |
  #        for file in *; do sed -i 's/gs:\/\/cmip6/s3:\/\/cmip6-pds/g' $file; done
  #        for file in *.json; do sed -i 's/storage.googleapis.com\/cmip6/cmip6-pds.s3-us-west-2.amazonaws.com/g' $file; done  
  #    - name: Upload catalogs to S3
  #      uses: wei/rclone@v1.1.1
  #      env:
  #        RCLONE_CONF: ${{ secrets.RCLONE_CONF }}
  #        RCLONE_GCS_SERVICE_ACCOUNT_CREDENTIALS: ${{ secrets.RCLONE_GCS_SERVICE_ACCOUNT_CREDENTIALS }}
  #      with:
  #        args: "copy -c -v fs: s3:cmip6-pds --include /*.{csv,json}"
